<footer class="page-footer center grey darken-2">
      <div class="row foot_pad">
        <div class="col l6 s12">
          <h5 class="white-text">JNK FONDATION</h5>
          <p class="grey-text text-lighten-4">#10 de l’avenue Lubumbashi, Binza Pigeon</p>
          <p class="grey-text text-lighten-4">Ngaliema - Kinshasa</p>
          <p class="grey-text text-lighten-4">Republique Democratique du Congo</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <!-- <h5 class="white-text">Links</h5> -->
          <ul>
            <li><span class="grey-text text-lighten-3" href="#!"><i class="material-icons white-text prefix">phone</i>+1 (515) 250 02 62</span></li>
            <li><span class="grey-text text-lighten-3" href="#!"><i class="material-icons white-text prefix">mail</i>jnkfondation@gmail.com</span></li>
            <li class="social-links">
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href="" class="red-text"><i class="fab fa-youtube"></i></a>
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href="" class="orange-text"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>

    </div>
    <div class="grey darken-3 center-align foot_pad2">
       <a href="www.lebarondev.com">© 2020 LeBaron www.lebarondev.com</a>
    </div>

  </footer>
