.foot_pad, .foot_pad2 {
    padding: 0 80px;
}

.foot_pad2 {
    line-height: 3em;
}

.social-links a {
    font-size: 2em;
    margin: 0 0.5em;
}

span i {
    margin: 0 0.5em 0 0;
}

@media only screen and (max-width: 768px) {
    .foot_pad, .foot_pad2 {
        padding: 0 20px;
    }
}    