<h3 class="blue-text text-darken-2 center hide-on-small-only">Qui sommes-nous ?</h3>
<h4 class="blue-text text-darken-2 center hide-on-med-and-up">Qui sommes-nous ?</h4>
<br />
<p class="grey-text text-darken-1 aboutContent">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto fugiat provident, eligendi id, delectus commodi, esse voluptatum blanditiis quos dolores tempora repudiandae! Illo provident facere possimus debitis consequuntur fuga reiciendis?
    Libero accusantium iste numquam explicabo adipisci repudiandae provident delectus aspernatur hic voluptate facere, maxime perferendis vel, quas itaque incidunt pariatur voluptas illo quae velit animi repellendus possimus. Incidunt, eum inventore.
    Rem, ex totam nulla error eligendi quis vero dignissi maiores eligendi eaque doloribus a pariatur sed necessitatibus ullam cumque sint incidunt quaerat quibusdam et. Alias debitis, illo tempora consectetur rerum corrupti itaque.
</p> 
<br />
<p class="center-align">
    <a class="btn-flat waves-effect white blue-text text-darken-2 myBtn"><i class="material-icons left">file_download</i>Nos status</a>
</p>