<div class="row">
    <div class="col l4 m5 s12 textSide">
        <h4 class="blue-text text-darken-2 center">Ils ont besoin de vous</h4>
        <p class="grey-text text-darken-2 projectsContent">Chacun de nos projets touche un secteur particulier de la vie du congolais.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum odio itaque facilis natus nihil quas molestias rerum asperiores enim repellendus soluta dignissimos, debitis ipsa quis delectus recusandae voluptatibus saepe qui!
        </p>
    </div>
    <div class="col l8 m7 s12">
        <div class="row">
            <div class="col s12 m12 l4">
              <div class="card">
                <div class="card-image">
                  <img src="assets/images/poverty_2-min.jpg">
                  <div class="myOverlay"></div>
                  <span class="card-title">Probleme d'eau</span>
                </div>
                <div class="card-content grey-text text-darken-1">
                  <p>Nous oeuvrons sans la relache dans la resolution du probleme d'eau a Kinsenso.</p>
                </div>
                <div class="card-action center">
                    <a href="#" class="blue-text text-darken-2">Soutenir</a>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card">
                <div class="card-image">
                  <img src="assets/images/poverty_3-min.jpg">
                  <div class="myOverlay"></div>
                  <span class="card-title">Enfants de la rue</span>
                </div>
                <div class="card-content grey-text text-darken-1">
                  <p>Nous avons construit un centre d'eduction des enfants de la rue.</p>
                </div>
                <div class="card-action center">
                    <a href="#" class="blue-text text-darken-2">Soutenir</a>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                  <div class="card-image">
                    <img src="assets/images/poverty_1-min.jpg">
                    <div class="myOverlay"></div>
                    <span class="card-title">Orphelinat</span>
                  </div>
                  <div class="card-content grey-text text-darken-1">
                    <p>Nous faisons des dons en nature chaque semestre a l'Orphelinat Maman Marie a Lemba.</p>
                  </div>
                  <div class="card-action center">
                    <a href="#" class="blue-text text-darken-2">Soutenir</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
