.bg0, .bg1, .bg2, .bg3 {
    //background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bg0 {
    background-image: linear-gradient(0deg, rgba(255, 0, 150, 0.2), rgba(241, 196, 15,0.9)), url('../../assets/images/poverty_1-min.jpg');
}
.bg1 {
    background-image: linear-gradient(0deg, rgba(255, 0, 150, 0.2), rgba(241, 196, 15,0.9)), url('../../assets/images/poverty_2-min.jpg');
}
.bg2 {
    background-image: linear-gradient(0deg, rgba(255, 0, 150, 0.2), rgba(241, 196, 15,0.9)), url('../../assets/images/poverty_3-min.jpg');
}
.bg3 {
    background-image: linear-gradient(0deg, rgba(255, 0, 150, 0.2), rgba(241, 196, 15,0.9)), url('../../assets/images/poverty_4-min.jpg');
}

.carousel {
    height: 100vh;
}

.textSlider {
    padding: 40px 100px;
    font-weight: 700;
    color: white;
}

.textSliderSmall {
    padding: 0px 100px 20px 100px;
    font-weight: 400;
    color: white;
}

@media only screen and (max-width: 768px) {
    .carousel {
        height: 60vh;
    }
}